@import '../../assets/styl/utils.styl'

#productivity
	background url( '../img/productivity/bg-productivity.jpg' ) no-repeat
	background-size cover
	+breakpoint( large-mobile )
		text-align left
	
	.center
		padding 0 0 70px 0
		a
			display block
			margin 0
			width 220px
			height 50px
			color #fff
			border 1px solid #fff
			text-transform uppercase
			text-decoration none
			border-radius 25px
			text-align center
			font 16px $fontcondensed
			font-weight 600
			line-height 47px

	img
		max-width 100%
		margin 0 0 40px 0
	
	h1
		margin 0
		font 30px $fontcondensed
		font-weight 600
		text-transform uppercase
		color #fff
		.orange
			color #fcb32f
		+breakpoint( mobile )
			font-size 25px
	
	h2
		margin 0 0 35px 0
		font 22px $fontcondensed
		font-weight 400
		color #fff
		+breakpoint( mobile )
			font-size 20px

#do-you-know
	text-align center
	background url( '../img/do-you-know/bg-know.jpg' ) no-repeat center center
	background-size cover
	padding 40px 0 80px 0
	
	h1
		font 35px $fontcondensed
		font-weight 100
		color #58595b
		text-transform uppercase
		position relative
		padding 0 0 20px 0
		margin 0 0 20px 0
		strong
			display block
			font 45px $fontcondensed
			color #fcb32f
			font-weight 600
			margin -10px 0 0 0		
		&::before
			content ''
			display block
			position absolute
			bottom 0
			left 50%
			transform translateX( -50% )
			width 130px
			height 2px
			background #58595b
	
	p
		max-width 806px
		margin 0 auto 20px auto
		font 16px $fontstandard
		color #58595b
		&:nth-child(3)
			margin 0 auto 35px auto
	
	.row
		+breakpoint( tablet )
			margin 50px 0 0 0
	
	.col-md-3, .col-sm-6, .col-xs-6
		height 53px
		
		+breakpoint( tablet )		
			.display
				margin 0 auto
				position relative
		
		img, p
			float left
			margin 0
		
		+breakpoint( tablet )
			img
				position absolute
				left 35%
				top 50%
				transform translate( -50%, -50% )
		
		// +breakpoint( large-mobile )
		// 	img
		// 		position static
		// 		float none
		// 		transform translate( 0, 0 )
		// 		display inline-block
		// 		margin 0 15px 0 0
				
		// 	.concrete-img
		// 		margin 0 15px 0 -25px
		
		p
			font-size 12px
			max-width 130px
			text-align left
			position absolute
			left 90px
			top 50%
			transform translateY( -50% )
			font-weight 600
			text-transform uppercase
			
			+breakpoint( tablet )
				left 50%
				
			// +breakpoint( large-mobile )
			// 	position static
			// 	float none
			// 	text-align left
			// 	display inline-table
			// 	vertical-align middle
			// 	transform translate( 0, 0 )
		
		+breakpoint( tablet )
			margin 0 0 20px 0
		
	a
		display block
		width 220px
		height 50px
		background #fcb32f
		color #fff
		font 16px $fontcondensed
		font-weight 600
		line-height 46px
		text-align center
		border-radius 25px
		margin 35px auto 0 auto
		text-transform uppercase
		text-decoration none

#works
	padding 50px 0
	background url( '../img/works/works-bg.jpg' ) no-repeat center center
	background-size cover 

	img
		max-width 100%
	
	h1
		position relative
		text-align center
		padding 0 0 20px 0
		font 35px $fontcondensed
		color #fcb32f
		font-weight 300
		text-transform uppercase
		margin 0 0 20px 0
		strong
			font-weight 600
		&::before
			content ''
			display block
			position absolute
			bottom 0
			left 50%
			transform translateX( -50% )
			width 130px
			height 2px
			background #fff
	
	h2
		text-align center
		font 16px $fontstandard
		color #fff
		font-weight 400
		margin 0 0 40px 0
	
	h3
		color #fff
		text-transform uppercase
		font 25px $fontcondensed
		font-weight 300
		margin 0 0 10px 0
		strong
			font-weight 600
	
	p
		color #fff
		margin 0 0 20px 0
		font 15px $fontstandard
		font-weight 400
		&:nth-child(4)
			margin 0 0 30px 0
	
	a
		display block
		margin 0
		width 220px
		height 50px
		color #fff
		border 1px solid #fff
		text-transform uppercase
		text-decoration none
		border-radius 25px
		text-align center
		font 16px $fontcondensed
		font-weight 600
		line-height 47px

#essays
	padding 50px 0
	background #fff
	
	h1
		text-align center
		text-transform uppercase
		font 35px $fontcondensed
		font-weight 300
		color #58595b
		letter-spacing -1px
		padding 0 0 15px 0
		margin 0 0 15px 0
		position relative
		strong
			font-weight 600
			color #fcb32f
			
		span
			font-size 60px
			letter-spacing -3px
			
		&::before
			content ''
			display block
			position absolute
			bottom 0
			left 50%
			transform translateX( -50% )
			width 130px
			height 2px
			background #58595b
	
	h2
		text-align center
		font 16px $fontstandard
		font-weight 400
		color #58595b
		margin 0 0 30px 0
			
	.item-essay
		width 20%
		float left
		padding 0 15px
		margin 0 0 40px 0
		
		img
			display block
			margin 0 auto
		
		.border
			width 80px
			height 80px
			margin 0 auto
			padding 16px 0
		
		.fire
			border 2px solid #ed834d
		
		.audio
			border 2px solid #6faa85
		
		.water
			border 2px solid #0baebe
		
		.performance
			border 2px solid #4f7abf
			
		.time
			border 2px solid #fcb32f
	
	.video
		margin 0 0 60px 0
		
		h3
			font 25px $fontcondensed
			font-weight 300
			color #58595b
			text-transform uppercase
			margin 0 0 10px 0
			
			strong
				color #fcb32f
				font-weight 600
		
		p
			color #58595b
			font 15px $fontstandard
			font-weight 400
			margin 0 0 20px 0
			&:nth-child(3)
				margin 0 0 25px 0
		
		a
			display block
			margin 0
			width 360px
			height 50px
			color #fff
			background #fcb32f
			text-transform uppercase
			text-decoration none
			border-radius 25px
			text-align center
			font 16px $fontcondensed
			font-weight 600
			line-height 47px
			text-align center
		
		img 
			max-width 100%
	
	.institutions
		
		h3
			font 25px $fontcondensed
			font-weight 300
			color #58595b
			text-transform uppercase
			margin 0 0 10px 0
			padding 0 0 20px 0
			text-align center
			position relative
			
			strong
				color #fcb32f
				font-weight 600
			
			&::before
				content ''
				display block
				position absolute
				bottom 0
				left 50%
				transform translateX( -50% )
				width 70px
				height 1px
				background #58595b
		
		.images-list
			padding 0
			margin 0
			text-align center
			cursor default
		
		li
			list-style none
			display inline-block
			margin 0 3% 0 0
			&:last-child
				margin 0
		
		img
			-webkit-filter grayscale(100%)
			-moz-filter grayscale(100%)
			-ms-filter grayscale(100%)
			-o-filter grayscale(100%)
			filter grayscale(100%)
			filter url(grayscale.svg)
			filter gray
			opacity .7
			transition 200ms ease-in-out
			cursor pointer
			&:hover
				transition 200ms ease-in-out
				opacity 1
				-webkit-filter grayscale(0%)
				-moz-filter grayscale(0%)
				-ms-filter grayscale(0%)
				-o-filter grayscale(0%)
				filter grayscale(0%)

#successful-works
	background url( '../img/successful-works/bg-successful-works.jpg' ) no-repeat center center
	background-size cover
	padding 50px 0
	
	.shadow
		height 110px
		width calc( 100% - 30px )
		position absolute
		bottom -6px
		left 15px
		padding 0 15px
		background linear-gradient( transparent, rgba( 0,0, 0, .9 ) )
		transition 200ms ease-in-out
		opacity 0
		cursor pointer
		z-index 2
	
	.row
		margin 0 0 20px 0
		&:last-child
			margin 0
	
	.middle
		transition 200ms ease-in-out
		&:hover
			transform scale( 1.1 )
			
		a
			text-decoration none
		
		.know
			position absolute
			left 50%
			top 50%
			transform translate( -50%, -50% )
			width calc( 100% - 30px )
			text-align center
			cursor pointer
		
		h1
			color #fff
			font 45px $fontcondensed
			font-weight 300
			text-transform uppercase
			margin 0 0 5px 0
			cursor pointer
			
			strong
				font-weight 600
				color #fcb32f
		
		p
			color #fff
			font 16px $fontcondensed
			font-weight 300
			margin 0 0 25px 0
			cursor pointer
		
		.anchor
			display block
			margin 0 auto
			width 220px
			height 50px
			color #fff
			border 1px solid #fff
			background transparent
			text-transform uppercase
			text-decoration none
			border-radius 25px
			text-align center
			font 16px $fontcondensed
			font-weight 600
			line-height 47px
			text-align center
	
	.text
		position absolute
		bottom 15px
		left 30px
		opacity 0
		transition 200ms ease-in-out
		cursor pointer
		z-index 3
		
		p
			font 16px $fontcondensed
			font-weight 300
			color #fff
			margin 0
			
		strong
			color #fcb32f
			font-weight 600
			
	img
		width 100%
		cursor pointer
		transition 200ms ease-in-out
		
	.col-md-3	
		&:hover
			img, .shadow
				transform scale( 1.1 )
			.shadow
				opacity .9
			.text
				opacity 1
			
