---
title: Home
---

<section id="productivity" class="section-productivity">
	<div class="container">
		{{> header}}

		<div class="center">
			<img src="Content/img/productivity/productivity-title.png" alt="Produtividade e Segurança">
			<h1>Massa <span class="orange">DunDun</span></h1>
			<h2>Composto polimérico para assentamento de blocos em alvenaria de vedação.</h2>
			<a href="#">Conheça o produto</a>
		</div>

	</div>
</section>

<section id="do-you-know" class="section-do-you-know">
	<div class="container">
		<h1>Você conhece a <strong>Massa DunDun?</strong></h1>
		<p>A Massa DunDun é a argamassa para assentamento de blocos que revolucionou o mercado e lorem ipsum dolor
			sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
			aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
			lobortis nisl ut aliquip ex ea commodo consequat.
		</p>
		<p>A Massa DunDun é ideal para assentamento de blocos de diversos tipos e seguindo as normas de mercado.</p>

		<div class="row">
			
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="display">
					<img src="Content/img/do-you-know/ceramic-blocks.png" alt="Bloco Cerâmico Furos Horizontais">
					<p>Bloco Cerâmico Furos Horizontais</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="display">
					<img src="Content/img/do-you-know/concrete-block.png" alt="Bloco Concreto" class="concrete-img">
					<p>Bloco Concreto</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="display">
					<img src="Content/img/do-you-know/cell-block.png" alt="Bloco Concreto Celular">
					<p>Bloco Concreto Celular</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="display">
					<img src="Content/img/do-you-know/vertical-block.png" alt="Bloco Cerâmico Furos Verticais">
					<p>Bloco Cerâmico Furos Verticas</p>
				</div>
			</div>

		</div>

		<a href="#" title="Conheça mais">Conheça mais</a>

	</div>
</section>

<section id="works" class="section-works">
	<div class="container">
		<h1>Racionalização no canteiro <strong>de obras</strong></h1>
		<h2>Aumento da produtividade e redução de custo</h2>

		<div class="row">
			<div class="col-md-5">
				<h3>Produtividade e <strong>qualidade</strong></h3>
				<p>A Massa DunDun proporciona a possibilidade de uma maior produtividade em seu projeto.</p>
				<p>A redução de etapas no processo produtivo ocorre pelo produto vir pronto para ser aplicado.</p>
				<p>Diminuindo-se os custos, um pedreiro e seu ajudante levantam até 60m²/dia, além disso, há até 95% de economia de argamassa no assentamento.</p>
				<a href="#">Confira</a>
			</div>
			<div class="col-md-7">
				<img src="Content/img/works/graphic.png" alt="Produtividade e qualidade">
			</div>
		</div>
	</div>
</section>

<section id="essays" class="section-essays">
	<div class="container">
		<h1>É o único composto polimérico que atende a <strong>NBR <span>15.575</span></strong></h1>
		<h2>As Massas DunDun são aderentes a NBR 15.757 da Associação Brasileira de Normas Técnicas (ABNT), e passaram com índice SUPERIOR em praticamente todos os ensaios realizados.</h2>

		<div class="row">
			<div class="item-essay">
				<div class="border fire">
					<img src="Content/img/essays/fire.png" alt="Resistência ao fogo" >
				</div>
			</div>
			<div class="item-essay">
				<div class="border audio">
					<img src="Content/img/essays/audio.png" alt="Conforto acústico">
				</div>
			</div>
			<div class="item-essay">
				<div class="border water">
					<img src="Content/img/essays/water.png" alt="Estanqueidade">
				</div>
			</div>
			<div class="item-essay">
				<div class="border performance">
					<img src="Content/img/essays/performance.png" alt="Desempenho mecânico">
				</div>
			</div>
			<div class="item-essay">
				<div class="border time">
					<img src="Content/img/essays/time.png" alt="Durabilidade">
				</div>
			</div>
		</div>

		<div class="row video">
			<div class="col-md-7 col-sm-7">
				<h3>Ensaios Técnicos na <strong>ITT Performance</strong></h3>
				<p>
					Em ensaios realizados no laboratório da ITT Performance, juntamente a 
					equipe do Prof. Bernardo Dilkin, a Massas DunDun foram certificadas com
					laudos de aderência a NBR 15.757 nos quesitos de Resistência ao Fogo
					(Classe Superior), Conforto Acústico (Classe Intermediário), Estanqueidade
					(Classe Superior), Desempenho Mecânico (Superior) e Durabilidade (Superior).
				</p>

				<p>
					Estes ensaios são em grande parte iguais ou superiores ao desempenho de
					argamassas tradicionais, comprovando a qualidade e a segurança do produto.
				</p>

				<a href="#" title="Veja mais sobre os testes realizados">Veja mais sobre os testes realizados</a>
			</div>

			<div class="col-md-5 col-sm-5">
				<img src="Content/img/essays/video.jpg" alt="Vídeo">
			</div>
		</div>

		<div class="row institutions">
			<h3>Instituições <strong>envolvidas</strong></h3>
			<ul class="images-list">
				<li><img src="Content/img/essays/ipt.png" alt="IPT"></li>
				<li><img src="Content/img/essays/lactec.png" alt="IPT"></li>
				<li><img src="Content/img/essays/falcao.png" alt="IPT"></li>
				<li><img src="Content/img/essays/itt.png" alt="IPT"></li>
				<li><img src="Content/img/essays/unisinos.png" alt="IPT"></li>
				<li><img src="Content/img/essays/ufscar.png" alt="IPT"></li>
				<li><img src="Content/img/essays/ufrgs.png" alt="IPT"></li>
				<li><img src="Content/img/essays/uni-sc.png" alt="IPT"></li>
				<li><img src="Content/img/essays/uni-sm.png" alt="IPT"></li>
			</ul>
		</div>

	</div>
</section>

<section id="successful-works">
	<div class="container">

		<div class="row">
			<div class="col-md-3 col-sm-3">
				<img src="Content/img/successful-works/building.jpg" alt="Prédio">
				<div class="shadow"></div>
				<div class="text">
					<p>Capão da Canoa</p>
					<p><strong>Rio Grande do Sul</strong></p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<img src="Content/img/successful-works/building.jpg" alt="Prédio">
				<div class="shadow"></div>
				<div class="text">
					<p>Capão da Canoa</p>
					<p><strong>Rio Grande do Sul</strong></p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<img src="Content/img/successful-works/building.jpg" alt="Prédio">
				<div class="shadow"></div>
				<div class="text">
					<p>Capão da Canoa</p>
					<p><strong>Rio Grande do Sul</strong></p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<img src="Content/img/successful-works/building.jpg" alt="Prédio">
				<div class="shadow"></div>
				<div class="text">
					<p>Capão da Canoa</p>
					<p><strong>Rio Grande do Sul</strong></p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-3">
				<img src="Content/img/successful-works/building.jpg" alt="Prédio">
				<div class="shadow"></div>
				<div class="text">
					<p>Capão da Canoa</p>
					<p><strong>Rio Grande do Sul</strong></p>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 middle">
				<img src="Content/img/successful-works/small-building.jpg" alt="Obras de sucesso">
				<a href="#" title="Clique e conheça"><div class="know">
					<h1>Obras de <strong>sucesso</strong></h1>
					<p>Confira as obras que estão utilizando a Massa DunDun!</p>
					<a href="#" title="Clique e conheça" class="anchor">Clique e conheça</a>
				</div></a>
			</div>

			<div class="col-md-3 col-sm-3">
				<img src="Content/img/successful-works/building.jpg" alt="Prédio">
				<div class="shadow"></div>
				<div class="text">
					<p>Capão da Canoa</p>
					<p><strong>Rio Grande do Sul</strong></p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-3">
				<img src="Content/img/successful-works/building.jpg" alt="Prédio">
				<div class="shadow"></div>
				<div class="text">
					<p>Capão da Canoa</p>
					<p><strong>Rio Grande do Sul</strong></p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<img src="Content/img/successful-works/building.jpg" alt="Prédio">
				<div class="shadow"></div>
				<div class="text">
					<p>Capão da Canoa</p>
					<p><strong>Rio Grande do Sul</strong></p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<img src="Content/img/successful-works/building.jpg" alt="Prédio">
				<div class="shadow"></div>
				<div class="text">
					<p>Capão da Canoa</p>
					<p><strong>Rio Grande do Sul</strong></p>
				</div>
			</div>

			<div class="col-md-3 col-sm-3">
				<img src="Content/img/successful-works/building.jpg" alt="Prédio">
				<div class="shadow"></div>
				<div class="text">
					<p>Capão da Canoa</p>
					<p><strong>Rio Grande do Sul</strong></p>
				</div>
			</div>
		</div>

		
	</div>
</section>