<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="pt-br" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="pt-br" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="pt-br" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pt-br" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{this.title}}</title>

  {{#if this.hasTgsOg}}

    <meta property="og:image" content="{{this.ogImage}}"/>
    <meta property="og:title" content="{{this.ogTitle}}"/>
    <meta property="og:description" content="{{this.ogDescription}}"/>
    <meta property="og:url" content="{{this.ogUrl}}"/>
    <meta property="og:site_name" content="{{this.ogSiteName}}"/>
    <meta property="og:type" content="{{this.ogType}}"/>

  {{/if}}

  <meta name="keywords" content="">
  <meta name="description" content="">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="Content/css/style.min.css">
  <script src="Content/js/modernizr.js"></script>

</head>
<body>

	{% body %}

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
	    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	    e.src='//www.google-analytics.com/analytics.js';
	    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
	</script>
	<!-- Script -->
	<script src="Content/js/plugins.min.js"></script>
	<script src="Content/js/app.min.js"></script>

</body>
</html>
