<header id="header" class="header clearfix">
	<div class="logo">
		<img src="Content/img/logo.png" alt="Massas DunDun">
	</div>
	<ul class="menu-desktop">
		<li><a href="o-que-e.html" title="O que é?">O que é</a></li>
		<li><a href="conheca-mais.html" title="Conheça mais">Conheça mais</a></li>
		<li><a href="obras.html" title="Obras">Obras</a></li>
		<li><a href="instrucoes-de-uso.html" title="Instruções de uso">Instruções de uso</a></li>
		<li><a href="contato.html" title="Contato">Contato</a></li>
	</ul>
	<div id="open-menu-mobile">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<ul>
		<li></li>
	</ul>
</header>