@import '../../assets/styl/utils.styl'

header
	width 100%
	padding 15px 0
	
	.logo
		float left
		
	img
		max-width 100%
	
	.menu-desktop
		float right
		padding 16px 0
		margin 0
		+breakpoint( tablet )
			display none
	
	.menu-mobile, #open-menu-mobile
		display none
		+breakpoint( tablet )
			display block
			float right
	
	li
		display inline-block
		margin 0 35px 0 0
		&:last-child
			margin 0
	
	a
		font 16px $fontcondensed
		font-weight 600
		text-transform uppercase
		text-decoration none
		color #fff
		&:hover
			text-decoration none
			color #fff
	
	#open-menu-mobile
		width 50px
		height 32px
		margin 15px 0 0 0
		position relative
		transform rotate(0deg)
		transition .5s ease-in-out
		cursor pointer

	#open-menu-mobile span
		display block
		position absolute
		height 7px
		width 100%
		background #fff
		border-radius 9px
		opacity 1
		left 0
		transform rotate(0deg)
		transition .25s ease-in-out
	
	#open-menu-mobile span:nth-child(1)
		top 0px

	#open-menu-mobile span:nth-child(2),#open-menu-mobile span:nth-child(3)
		top 12px

	#open-menu-mobile span:nth-child(4)
		top 24px

	#open-menu-mobile.open span:nth-child(1)
		top 12px
		width 0%
		left 50%

	#open-menu-mobile.open span:nth-child(2)
		transform rotate(45deg)

	#open-menu-mobile.open span:nth-child(3)
		transform rotate(-45deg)

	#open-menu-mobile.open span:nth-child(4)
		top 12px
		width 0%
		left 50%